<footer class="footer">
    <div class="footer__container">
        <div class="footer__section">
            <h3>About</h3>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="">Partners</a></li>
                <li><a href="">Youtube Premium</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3>Contact Us</h3>
            <ul>
                <li><a href="">Jobs</a></li>
                <li><a href="">Partnership</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3>Social Media</h3>
            <ul>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Instagram</a></li>

            </ul>
        </div>
        <div class="footer__section footer__form">
            <h3>Join Youtube Premium</h3>
            <form action="">
                <input type="email" placeholder="Enter your email adress" name="" id="">
                <button type="submit">Join</button>

            </form>
        </div>
    </div>
</footer>
</body>

</html>