<div class="sidebar">
    <div class="sidebar__container">
        <div class="sidebar__section">
            <ul>
                <li>
                    <i class="fa-solid fa-house"></i>
                    <a href="">Home Page</a>
                </li>
                <li>
                    <i class="fa-solid fa-compass"></i>
                    <a href="">Trending</a>
                </li>
                <li>
                    <i class="fa-solid fa-person-falling"></i>
                    <a href="">Subscriptions</a>
                </li>
            </ul>
        </div>
        <div class="sidebar__section">
            <ul>
                <li>
                    <i class="fa-solid fa-book-open"></i>
                    <a href="">Bookshelf</a>
                </li>
                <li>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <a href="">History</a>
                </li>
                <li>
                    <i class="fa-solid fa-video"></i>
                    <a href="">Your Videos</a>
                </li>
                <li>
                    <i class="fa-solid fa-clock"></i>
                    <a href="">Watch Later</a>
                </li>
                <li>
                    <i class="fa-solid fa-thumbs-up"></i>
                    <a href="">Liked Videos</a>
                </li>
            </ul>
        </div>

        <div class="sidebar__section subs">
            <h2>Subscriptions</h2>
            <ul>
                <li><a href="">Channel</a></li>
                <li><a href="">Channel</a></li>
                <li><a href="">Channel</a></li>
                <li><a href="">Channel</a></li>
                <li><a href="">Channel</a></li>
                <li><a href="">Channel</a></li>

            </ul>
        </div>

    </div>
</div>