<%- include('components/header') %>


  <body>
    <div class="body__container">
      <%- include('components/sidebar') %>
        <%- include('components/videoContainer') %>


    </div>


    <%- include('components/footer') %>